<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>記事作成</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
</head>
<body>

	<div class="mx-5 my-3">

		<div class="row justify-content-between">
			<!-- 1.タイトル -->
			<h1 class="col-auto">記事作成</h1>
			<!-- 2.戻るボタン -->
			<div class="col-auto align-self-center">
				<a class="btn btn-primary" href="ShowArticles">戻る</a>
			</div>
		</div>

		<!-- 3.横線 -->
		<hr />

		<!-- 4.メッセージ -->
		<div th:switch="${messageType.name()}" id="message">
			<span th:case="ALERT" th:text="${message}" class="alert alert-danger">エラー時のメッセージ</span>
		</div>

		<br />

		<form action="/CreateArticle" method="get" class="col-auto ">
			<!-- 5.タイトルラベル -->
			<div>タイトル</div>
			<!-- 6.タイトル入力ボックス -->
			<div>
				<input type="text" name="title" maxlength="30" class="form-control" th:value="${title}" id="title" />
			</div>
			<!-- 7.本文ラベル -->
			<div>本文</div>
			<!-- 8.本文入力エリア -->
			<div>
				<textarea name="content" maxlength="1000" class="form-control" rows="12" th:text="${content}" id="content"></textarea>
			</div>
			<!-- 9.作成ボタン -->
			<div class="text-right">
				<input type="submit" name="create" value="作成" class="btn btn-primary" />
			</div>
		</form>

	</div>

</body>
</html>